@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
}

body {
    background: var(--background);
}

/*BARRA DE NAVEGAÇÃO*/
#navbarContainer {
    position: absolute;
    top: 5%;
    right: 5%;
    left: 5%; 
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbarList {
    display: flex;
    list-style: none;
}

.navbarItem {
    margin-right: 90px;
    text-transform: uppercase;
}

.navbarItem a {
    text-decoration: none;
    color: var(--text);
    font-size: 1em;
    font-weight: 700;
}

#navbarSearch {
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 5px;
}

#navbarSearch button {
    background: none;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

#navbarSearch input {
    background: none;
    border: none;
}

#navbarSearch input:focus {
    border: none;
    background: none;
}

/*ASIDE*/
#aside {
    margin-left: 5%;
}

#aside h1 {
    font-size: 3em;
}

#aside p {
    font-size: 1em;
    color: var(--text-description);
}

#aside h2 {
    font-size: 2em;
}

#aside h1, #aside p, #aside h2 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

#aside button {
    width: 15vw;
    min-height: 10vh;
    margin-left: 10%;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: var(--button);
    border: none;
    cursor: pointer;
}

/*MAIN*/   
#mainContainer {
    display: flex;
    align-items: center;
}

#main {
    min-width: 65%;
    min-height: 100vh;
    background: var(--main-background);
}