@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

:root {
    --button: #FF0000;
    --main-background: #c4c4c4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}

header {
    position: fixed;
}

nav {
    width: 100%;
    display: flex;
    margin-top: 39px;
    margin-left: 60px;
    margin-right: 60px;
}

.logo {
    width: 52px;
}

.nav-item {
    margin-left: 90px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    color: var(--text)
}

.form {
    margin-left: 82px;
    width: 220px;
    height: 45px;
    background: #fff;
    display: flex;
}

.form button {
    background: none;
    border: none;
    width: 24px;
    margin-left: 13px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.form input {
    background: none;
    border: none;
    background: none;
    margin-top: 16px;
    margin-left: 10px;
}

.form input::placeholder {
    color: var(--text-description);
}

.search {
    
}

.bag {
    margin-left: 80px;
    width: 34px;
    margin-top: 8px;

}

aside {
    display: flex;
    background: var(--background);
    height: 100%;
    width: 300px;

}

main {
    display: inline-block;
    background: var(--main-background);
    margin-left: 301px;
}

.preco {
    margin-top: 190px;
}
